/* Fonts */

@font-face {
    font-family: 'Barlow';
    src: url('../fonts/Barlow-SemiBold.woff2') format('woff2'), url('../fonts/Barlow-SemiBold.woff') format('woff'), url('../fonts/Barlow-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('../fonts/Barlow-Medium.woff2') format('woff2'), url('../fonts/Barlow-Medium.woff') format('woff'), url('../fonts/Barlow-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('../fonts/Barlow-Regular.woff2') format('woff2'), url('../fonts/Barlow-Regular.woff') format('woff'), url('../fonts/Barlow-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('../fonts/Barlow-Bold.woff2') format('woff2'), url('../fonts/Barlow-Bold.woff') format('woff'), url('../fonts/Barlow-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fraunces';
    src: url('../fonts/Fraunces-9ptBlack.woff2') format('woff2'), url('../fonts/Fraunces-9ptBlack.woff') format('woff'), url('../fonts/Fraunces-9ptBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fraunces';
    src: url('../fonts/Fraunces-9ptBlackItalic.woff2') format('woff2'), url('../fonts/Fraunces-9ptBlackItalic.woff') format('woff'), url('../fonts/Fraunces-9ptBlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

/* General site */

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-top: 113px;
    padding: 0;
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: normal;
    background-color: #FEFCF7;
}

.container {
    width: 1320px;
    margin: 0 auto;
    padding: 0 20px;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/* HEADER */

.site-header {
    width: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: #fff;
}

.header {
    margin: 44px 0 41px;
    width: 1280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo:hover {
    opacity: 0.6;
}

.header__logo:active {
    opacity: 0.3;
}

.header__logo-img {
    width: 235px;
    height: 25px;
}

.header__list {
    margin: 0;
    padding: 0;
    width: 285px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.header__item {
    margin: 0;
    padding: 0;
}

.header__link {
    font-family: Barlow;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: #83888F;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.header__link:hover {
    color: #000;
}

.header__link:active {
    color: #83888F;
}

/* MAIN */

.site-main {
    flex-grow: 1;
}

.main-top-section {
    margin-bottom: 136px;
}

.greadcoffe {
    padding: 117px 702px 116px 85px;
    background-image: url("../images/Bitmap-images.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}

.greadcoffe__heading {
    margin: 0;
    margin-bottom: 32px;
    padding: 0;
    font-family: Fraunces 9pt;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FEFCF7;
}

.greadcoffe__desc {
    margin: 0;
    margin-bottom: 56px;
    padding: 0;
    width: 445px;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    mix-blend-mode: normal;
    opacity: 0.8;
}

.coffe-button {
    margin: 0;
    padding: 16px 31px;
    background-color: #66D2CF;
    font-family: Fraunces 9pt;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FEFCF7;
    border-radius: 6px;
    border: 2px solid transparent;
    transition: color 0.5s ease-in-out, background 0.5s ease-in-out, border 0.5s ease-in-out;
}

.coffe-button:hover {
    background-color: #FEFCF7;
    color: #66D2CF;
}

.coffe-button:active {
    background-color: #FEFCF7;
    color: #66D2CF;
    opacity: 0.5;
}

/* our-collection */

.collection{
    margin: 136px 0 200px;
}

.collection__list {
    width: 1111px;
    margin: 126px auto 0;
    padding: 126px 0 0 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
    position: relative;
    background-image: url("../images/collection.svg");
    background-repeat: no-repeat;
    background-size: 1111px 196px;
}

.collection__item {
    margin: 0;
    padding: 0;
    width: 255px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.collection__link {
    text-decoration: none;
}

.collection__item-img {
    margin-bottom: 71px;
}

.collection__item-heading {
    margin: 0;
    margin-bottom: 24px;
    padding: 0;
    font-family: Fraunces 9pt;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #333D4B;
}

.collection__item-desc {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #333D4B;
}

/* question */

.question-section {
    margin-bottom: 350px;
}

.question {
    padding: 110px 370px 317px;
    background-image: url("../images/question.png");
    background-repeat: no-repeat;
    position: relative;
}

.question__heading {
    margin: 0;
    margin-bottom: 32px;
    padding: 0;
    font-family: Fraunces 9pt;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #FEFCF7;
}

.question__desk {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FEFCF7;
    mix-blend-mode: normal;
    opacity: 0.8;
}

.question__list {
    margin: 0;
    padding: 0;
    width: 1110px;
    position: absolute;
    left: 85px;
    top: 345px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
}

.question__item {
    margin: 0;
    padding: 72px 47px 47px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0E8784;
    border-radius: 8px;
}

.question__item-img {
    margin-bottom: 56px;
}

.question__item-title {
    margin: 0;
    margin-bottom: 24px;
    padding: 0;
    font-family: Fraunces 9pt;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #FEFCF7;
}

.question__item-desc {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FEFCF7;
}

/* last-section */

.last-section {
    margin-bottom: 200px;
}

.main-bottom {
    margin-left: 85px;
}

.main-bottom__heading {
    margin: 0;
    margin-bottom: 80px;
    padding: 0;
    font-family: Fraunces 9pt;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #83888F;
}

.progress {
    display: flex;
    align-items: center;
    margin-bottom: 65px;
}

.progress__circle {
    width: 30px;
    height: 30px;
    border: 2px solid #0E8784;
    border-radius: 50%;
}

.progress__line {
    width: 380px;
    height: 1px;
    background-color: #FDD6BA;
}

.main-bottom__list {
    margin: 0;
    margin-bottom: 65px;
    padding: 0;
    display: flex;
    list-style: none;
}

.main-bottom__item {
    width: 285px;
}

.main-bottom__item + .main-bottom__item {
    margin-left: 95px;
}

.main-bottom__item-number {
    font-family: Fraunces 9pt;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FDD6BA;
}

.main-bottom__item-heading {
    margin: 38px 0 42px;
    padding: 0;
    width: 200px;
    font-family: Fraunces 9pt;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #333D4B;
}

.main-bottom__item-desc {
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
}

.coffe--button:hover {
    border: 2px solid #00f;
    background-color: #66D2CF;
    color: #FEFCF7 ;
}

.coffe--button:active {
    background-color: #66D2CF;
    color: #FEFCF7 ;
}

/* footer */

.footer-section {
    background-color: #2C343E;
}

.footer {
    padding: 47px 85px;
    display: flex;
    align-items: center;
}

.footer__logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-right: 103px;
}

.footer__logo-img {
    padding-right: 8px;
}

.footer__first-list {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    margin-right: auto;
    padding: 0;
}

.footer__first-list-item + .footer__first-list-item {
    margin-left: 33px;
}

.footer__first-list-link {
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #83888F;
    transition: color 0.5s;
}

.footer__first-list-link:hover {
    color: #fff;
}

.footer__second-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.footer__second-list-link {
    text-decoration: none;
    transition: opacity 0.5s;
}

.footer__second-list-link:hover {
    opacity: 0.5;
}

.footer__second-list-link:active {
    opacity: 0.3;
}

.footer__second-list-item + .footer__second-list-item {
    margin-left: 24px;
}

/* ABOUT US */

/* MAIN */

.about-us {
    margin-bottom: 168px;
}

.about-us__hero {
    padding: 137px 750px 137px 85px;
    background-image: url("../images/about\ us\ Bitmap.jpg");
    background-repeat: no-repeat;
}

.about-us__heading {
    margin: 0;
    margin-bottom: 24px;
    padding: 0;
    font-family: Fraunces 9pt;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #FEFCF7;
}

.about-us__desc {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
}

/* Our-commitment */

.our-commitment {
    margin: 50px 0 245px;
}

.our-commitment__hero {
    margin: 0 auto;
    width: 1110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.our-commitment__right {
    width: 540px;
}

.our-commitment__heading {
    margin: 0;
    margin-bottom: 32px;
    padding: 0;
    font-family: Fraunces 9pt;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #333D4B;
}

.our-commitment__desc {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
}

/* Uncompromising quality */

.uncompromising-quality {
    margin: 50px 0 168px;
}

.uncompromising-quality__hero {
    padding: 100px 655px 176px 85px;
    display: flex;
    background: #2C343E;
    border-radius: 10px;
    position: relative;
}

.uncompromising-quality__left {
    margin-right: 125px;
}

.uncompromising-quality__heading {
    margin: 0;
    width: 520px;
    margin-bottom: 32px;
    padding: 0;
    font-family: Fraunces 9pt;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #FEFCF7;
}

.uncompromising-quality__desc {
    width: 540px;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
}

.uncompromising-quality__img {
    border-radius: 10px;
    position: absolute;
    right: 85px;
    top: -76px;
}

/* Our headquarters */

.our-headquarters {
    margin: 50px 0 168px;
}

.map {
    width: 1045px;
    margin-left: 85px;
}

.map__heading {
    margin: 0;
    margin-bottom: 72px;
    padding: 0;
    font-family: Fraunces 9pt;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #83888F;
}

.map__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.map__item {
    width: 285px;
}

.map__item+.map__item {
    margin-left: 110px;
}

.map__link {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: last baseline;
}

.map__img {
    margin-bottom: 46px;
}

.map__title {
    margin: 0;
    margin-bottom: 24px;
    padding: 0;
    font-family: Fraunces 9pt;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #333D4B;
}

.map__desc {
    margin: 0;
    padding: 0;
    font-family: Barlow;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
}

.map__desc+.map__desc {
    margin-top: 5px;
}