/* Fonts */

@font-face {
    font-family: 'Barlow';
    src: url('../fonts/Barlow-SemiBold.woff2') format('woff2'), url('../fonts/Barlow-SemiBold.woff') format('woff'), url('../fonts/Barlow-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('../fonts/Barlow-Medium.woff2') format('woff2'), url('../fonts/Barlow-Medium.woff') format('woff'), url('../fonts/Barlow-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('../fonts/Barlow-Regular.woff2') format('woff2'), url('../fonts/Barlow-Regular.woff') format('woff'), url('../fonts/Barlow-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('../fonts/Barlow-Bold.woff2') format('woff2'), url('../fonts/Barlow-Bold.woff') format('woff'), url('../fonts/Barlow-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fraunces';
    src: url('../fonts/Fraunces-9ptBlack.woff2') format('woff2'), url('../fonts/Fraunces-9ptBlack.woff') format('woff'), url('../fonts/Fraunces-9ptBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fraunces';
    src: url('../fonts/Fraunces-9ptBlackItalic.woff2') format('woff2'), url('../fonts/Fraunces-9ptBlackItalic.woff') format('woff'), url('../fonts/Fraunces-9ptBlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

/* General site */

html {
    scroll-behavior: smooth;
}

*, ::before, ::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    margin-top: 113px;
    padding: 0;
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: normal;
    background-color: #FEFCF7;
}

.container {
    width: 1320px;
    margin: 0 auto;
    padding: 0 20px;
}

img {
    display: inline-block;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/* HEADER */

.site-header {
    width: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: #fff;
}

.header-top {
    margin: 44px 0 41px;
    width: 1280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo:hover {
    opacity: 0.6;
}

.header-logo:active {
    opacity: 0.3;
}

.header-logo-img {
    width: 235px;
    height: 25px;
}

.nav-title {
    margin: 0;
    padding: 0;
    width: 285px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.nav-item {
    margin: 0;
    padding: 0;
}

.nav-item-link {
    font-family: Barlow;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: #83888F;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.nav-item-link:hover {
    color: #000;
}

.nav-item-link:active {
    color: #83888F;
}

/* MAIN */

.main-top-section {
    margin-bottom: 136px;
}

.gread-coffe {
    padding: 117px 702px 116px 85px;
    background-image: url("../images/Bitmap-images.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}

.gread-coffe-heading {
    margin: 0;
    margin-bottom: 32px;
    padding: 0;
    font-family: Fraunces 9pt;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FEFCF7;
}

.gread-coffe-desc {
    margin: 0;
    margin-bottom: 56px;
    padding: 0;
    width: 445px;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    mix-blend-mode: normal;
    opacity: 0.8;
}

.gread-coffe-button {
    margin: 0;
    padding: 16px 31px;
    background-color: #66D2CF;
    font-family: Fraunces 9pt;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FEFCF7;
    border-radius: 6px;
    border: none;
    transition: color 0.5s ease-in-out, background 0.5s ease-in-out;
}

.gread-coffe-button:hover {
    background-color: #FEFCF7;
    color: #66D2CF;
}

.gread-coffe-button:active {
    background-color: #FEFCF7;
    color: #66D2CF;
    opacity: 0.5;
}

/* our-collection */

.our-collection-section {
    margin: 136px 0 200px;
}

.our-collection {
    width: 1111px;
    margin: 0 auto;
    padding-top: 126px;
    position: relative;
    background-image: url("../images/collection.svg");
    background-repeat: no-repeat;
    background-size: 1111px 196px;
}

.collection-title {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.collection-item {
    margin: 0;
    padding: 0;
    width: 255px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.collection-item-link {
    text-decoration: none;
}

.collection-item-img {
    margin-bottom: 71px;
}

.collection-item-heading {
    margin: 0;
    margin-bottom: 24px;
    padding: 0;
    font-family: Fraunces 9pt;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #333D4B;
}

.collection-item-desc {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #333D4B;
}

/* question */

.question-section {
    margin-bottom: 350px;
}

.question {
    padding: 110px 370px 317px;
    background-image: url("../images/question.png");
    background-repeat: no-repeat;
    position: relative;
}

.question-heading {
    margin: 0;
    margin-bottom: 32px;
    padding: 0;
    font-family: Fraunces 9pt;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #FEFCF7;
}

.question-desk {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FEFCF7;
    mix-blend-mode: normal;
    opacity: 0.8;
}

.question-title {
    margin: 0;
    padding: 0;
    width: 1110px;
    position: absolute;
    left: 85px;
    top: 345px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
}

.question-item {
    margin: 0;
    padding: 72px 47px 47px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0E8784;
    border-radius: 8px;
}

.question-item-img {
    margin-bottom: 56px;
}

.question-item-heading {
    margin: 0;
    margin-bottom: 24px;
    padding: 0;
    font-family: Fraunces 9pt;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #FEFCF7;
}

.question-item-desc {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FEFCF7;
}

/* last-section */

.last-section {
    margin-bottom: 200px;
}

.last-section-hero {
    margin-left: 85px;
}

.last-section-hero-heading {
    margin: 0;
    margin-bottom: 80px;
    padding: 0;
    font-family: Fraunces 9pt;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #83888F;
}

.line-circle {
    display: flex;
    align-items: center;
    margin-bottom: 65px;
}

.circle {
    width: 30px;
    height: 30px;
    border: 2px solid #0E8784;
    border-radius: 50%;
}

.line {
    width: 380px;
    height: 1px;
    background-color: #FDD6BA;
}

.last-section-hero-title {
    margin: 0;
    margin-bottom: 65px;
    padding: 0;
    display: flex;
    list-style: none;
}

.last-section-hero-item {
    width: 285px;
}

.last-section-hero-item + .last-section-hero-item {
    margin-left: 95px;
}

.last-section-hero-item-number {
    font-family: Fraunces 9pt;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FDD6BA;
}

.last-section-hero-item-heading {
    margin: 38px 0 42px;
    padding: 0;
    width: 200px;
    font-family: Fraunces 9pt;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #333D4B;
}

.last-section-hero-item-desc {
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
}

.last-section-hero-button {
    margin: 0;
    padding: 16px 31px;
    background-color: #66D2CF;
    font-family: Fraunces 9pt;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FEFCF7;
    border-radius: 6px;
    border: 2px solid transparent;
    transition: border 0.5s;
}

.last-section-hero-button:hover {
    border: 2px solid #00f;
}

/* footer */

